---
title: "The Website Weekly Newsletter"
header_background_image: "./images/header_bg.png"
footer_background_image: "./images/footer_bg.png"
bodyClass: bg-slate-50
---

<x-main>
  <div class="bg-white sm:px-4 font-sans max-w-90 mx-auto">
    <table align="center">

      <tr>
        <td class="w-[600px] max-w-full">
          <table class="w-full bg-no-repeat" style="background-image: url({{{page.header_background_image}}});">
            <tr>
              <td   class="px-6 pt-6">
                <a href="https://discoveryalert.com.au/">
                  <img src="images/logo.png" width="100" height="23.3" alt="discovery alert logo">
                </a>

                <img class="ml-[176px]" src="images/megaphone.png" width="32" height="32" alt="megaphone icon" />
              </td>
            </tr>
            <tr>
              <td class="pt-10 px-6">
                <p class="text-2xl m-0"><strong><em>AI Trade Alert</em></strong></p>
                <p class="m-0 mt-2">Another Record Drilling Result From
                  The First Drilling Program</p>
                  <a class="block no-underline text-white p-3 w-fit mt-4 mb-[103px] bg-[#212930]" href="https://discoveryalert.com.au/">Read The Results</a>
              </td>
            </tr>

          </table>
        </td>
      </tr>
      <tr>
        <td class="w-[600px] max-w-full pt-4">
          <table class="w-full">
            <tr>
              <td class="px-6 pt-6">
                <p class="text-xl text-[#212930] inter-700">Company Details</p>
              </td>
            </tr>
            <tr>
              <td class="px-6 pt-4">
                <div class=" bg-[#F0F0F0] p-3 rounded-xl">
                  <div class="align-middle mb-3">
                    <img class="inline" width="24" height="24" src="images/company.png" alt="building icon">
                    <p class="inter-500 inline ml-3 text-[#323E48]">Mountain Regal Resources</p>
                  </div>
                  <table>
                    <tr>
                      <td>
                        <div class="bg-[#E8E8E8] p-2 text-center  w-[120px] rounded-lg">

                          <p class="pb-2 inter-600 text-[#212930]">ASX code</p>
                          <p class=" inter-500 text-[#C40D3C]">MTG</p>
                        </div>
                      </td>
                      <td class=""><div class="w-3 h-1"></div></td>
                      <td>
                        <div class="bg-[#E8E8E8] p-2 text-center w-[120px] rounded-lg">

                          <p class="pb-2 inter-600 text-[#212930]">Market Gap</p>
                          <p class=" inter-500 text-[#C40D3C]">$12M</p>
                        </div>
                      </td>
                    </tr>

                  </table>
                </div>
              </td>
            </tr>
          </table>

        </td>
      </tr>
      <tr>
        <td class="w-[600px] max-w-full pt-4">
          <table class="w-full">
            <tr>
              <td class="px-6 pt-6">
                <p class="text-xl text-[#212930] inter-700">Drill Details</p>
              </td>
            </tr>
            <tr>
              <td class="px-6 pt-4">
                <div class=" bg-[#F0F0F0] p-3 rounded-xl">
                  <div class="align-middle mb-3 p-2 rounded-lg bg-[#E8E8E8]">
                    <p class="inter-600-italic text-[#212930] mb-2">Program Type</p>
                    <p class="inter-500 text-[#323E48]">Exploration Drill Program</p>
                  </div>
                  <div class="align-middle mb-3 p-2 rounded-lg bg-[#E8E8E8]">
                    <p class="inter-600-italic text-[#212930] mb-2">Best Result</p>
                    <p class="inter-500 text-[#323E48]">20m @ 1.6g/t Au, 2% Cu,
                      1% TiO2 from 150 m (DDR 105)</p>
                  </div>
                  <table>
                    <tr>
                      <td>
                        <div class="bg-[#E8E8E8] p-2 text-center  w-[120px] rounded-lg">

                          <p class="pb-2 inter-600 text-[#212930]">AuEq Grade</p>
                          <p class=" inter-500 text-[#C40D3C]">2.5<sub>g/t</sub></p>
                        </div>
                      </td>
                      <td class=""><div class="w-3 h-1"></div></td>
                      <td>
                        <div class="bg-[#E8E8E8] p-2 text-center w-[122px] rounded-lg">

                          <p class="pb-2 inter-600 text-[#212930]">AuEq GxM</p>
                          <p class=" inter-500 text-[#C40D3C]">220<sub>Gxm</sub></p>
                        </div>
                      </td>
                    </tr>

                  </table>
                </div>
              </td>
            </tr>
            <tr>
              <td class="w-[600px] max-w-full pt-4">
                <table class="w-full">
                  <tr>
                    <td class="px-6 pt-6">
                      <p class="text-xl text-[#212930] inter-700">Project Details</p>
                    </td>
                  </tr>
                  <tr>
                    <td class="px-6 pt-4">
                        <table class="w-full bg-[#F0F0F0] p-3 rounded-xl">
                          <tr>
                              <td class="w-1/2 py-2 pl-1">
                               <p class="inter-600-italic text-[#212930]">Project Name</p>
                              </td>
                              <td class="w-1/2 py-2 pr-1">
                                <p class="inter-500 text-[#323E48] text-right">Mount Alexander</p>
                               </td>
                          </tr>
                          <tr>
                            <td class="w-1/2 py-2 pl-1">
                             <p class="inter-600-italic text-[#212930]">Prospect Name</p>
                            </td>
                            <td class="w-1/2 py-2 pr-1">
                              <p class="inter-500 text-[#323E48] text-right">Diane Rose</p>
                             </td>
                          </tr>
                          <tr>
                            <td class="w-1/2 py-2 pl-1">
                              <p class="inter-600-italic text-[#212930]">Project Location</p>
                            </td>
                            <td class="w-1/2 py-2 pr-1">
                              <p class="inter-500 text-[#323E48] text-right">Western Australia</p>
                            </td>
                          </tr>

                        </table>
                    </td>
                  </tr>
                  </tr>
                </tr>
                <tr>
                  <td class="w-[600px] max-w-full pt-4">
                    <table class="w-full">
                      <tr>
                        <td class="px-6 pt-6">
                          <p class="text-xl text-[#212930] inter-700">AI Summary</p>
                        </td>
                      </tr>
                      <tr>
                        <td class="px-6 pt-4 ">
                            <table class="w-full bg-[#F0F0F0] p-3 rounded-xl">
                              <tr>
                                  <td>
                                   <p class="inter-500 text-[#323E48]">Lorem ipsum dolor sit amet, consectetur adipiscing elit. AI-based trade alerts in minerals ensure precise market insights and timely decisions.</p>
                                  </td>

                              </tr>
                            </table>
                        </td>
                      </tr>
                      </tr>
              <tr>
                        <td class="text-center px-6 pt-12">
                          <a class="block mx-auto no-underline text-white p-3 w-fit mt-4 mb-2 bg-[#212930]" href="https://discoveryalert.com.au/">Read Full Announcement</a>

                        </td>
              </tr>
              <tr class="w-full bg-no-repeat bg-cover min-h-[330px] h-full" style="background-image: url({{{page.footer_background_image}}});">
                <td class="text-center px-6  pt-[150px] pb-14">
                  You're receiving this announcement because our advanced AI technology screens the daily ASX announcements, identifying discovery potential-rich announcements and sends them directly to your inbox. This allows you to evaluate these opportunities alongside our team of experts in real time.
                </td>
              </tr>
          </table>

        </td>
      </tr>

    </table>
  </div>
</x-main>
